<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type='text/css' href="/main.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script type ="module" defer src="/js/script.js"></script>
    <title>Admin</title>
</head>
<body>
   
        <div class="container mt-3">
            <h2>Trang quản lí v0.1</h2>
            <br>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
              <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/admin">Quản lí sản phẩm <span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/bill">Đơn hàng</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="/admin/new">Thêm sản phẩm</a>
                  </li>
                </ul>
                <form method="POST" action="/admin/logout?_method=DELETE">
                  <button class="btn btn-lg btn-light float-right">Đăng xuất</button>
                </form>
              </div>
            </nav>
          
            <!-- Tab panes -->
            <div class="tab-content">
              <div id="allproduct" class="container tab-pane active"><br>
               <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width:60%">Sản phẩm
                                <form style="display: inline-block ;">
                                    <div class="input-group rounded">
                                        <input type="search" class="form-control rounded" placeholder="Nhập tên sản phẩm" aria-label="Search"
                                        aria-describedby="search-addon" name="input_product" value="<%= searchoption %> " />
                                        <span class="input-group-text border-0" id="search-addon">
                                        <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                </form>
                            </th>
                            <th style="width:12%">Số lượng</th>
                            <th style="width:16%">Đơn giá</th>
                            <th style="width:10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product => { %>
                          <tr>
                            <td><img style="width: 200px;height: 200px;" src="<%= product.productImage %> ">
                              <div style="display: inline;" class="col-md-9 text-left mt-sm-2">
                                <strong><%= product.name %></strong><br>
                                <strong>Mô tả: </strong><span><%= product.description %></span>
                              </div>
                            </td>
                            <td class="text-center"><h4><%= product.quantity %></h4></td>
                            <td><h4><%= product.price %> VNĐ</h4></td>
                            <td class="actions">
                                <div class="text-right">
                                    <button  style="display: inline-block;" class="btn btn-white border-secondary bg-white btn-md mb-2" onclick="window.location.href='/admin/<%= product._id %>/update '">
                                        <i class="fas fa-sync"></i>
                                    </button>
                                    <form style="display: inline-block;" method="POST" action="/admin/<%= product._id %>?_method=DELETE"> 
                                        <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                          </tr> 
                        <% }) %> 
                    </tbody>
               </table>
            </div>
          </div>
</body>
</html>