<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type='text/css' href="/main.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script type ="module" defer src="/js/script.js"></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/images/tologo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-atuo">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Trang Chủ</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/allproduct">Sản Phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Đăng Nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Đăng ký</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart"><img src="/images/cart.png" style="width: 1.7em;"><%if(session != undefined) { %>
                                                                                                                <span class="badge badge-pill badge-dark"><%= session.totalQty %></span>
                                                                                                            <% } %></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="row">
        <div class="col-xl-6 col-md-4 col-sm-3">
            <form>
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Nhập tên sản phẩm" aria-label="Search"
                    aria-describedby="search-addon" name="input_product" value="<%= searchoption %> " />
                    <span class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div>
        <div class="container">
            <div class="row">
            <% products.forEach(product => { %>
                <div class="col-xs-6 col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="<%= product.productImage %> " alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5>
                                <strong><a href="/allproduct/<%= product._id%>"><%= product.name %></a></strong>
                            </h5>
                            <p class="card-text"><%= product.description %> </p>
                            <h4 style="text-align: center;"><%= product.price %> VND</h4>
                            <div class="text-center">
                                <a href="/cart/<%= product._id %> " class="btn btn-sm btn-dark" role="button">Mua Hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
            </div> 
        </div>
</body>
</html>