<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type='text/css' href="/main.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script type ="module" defer src="/js/script.js"></script>
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/images/tologo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-atuo">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/allproduct">Sản Phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Đăng Nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Đăng Ký</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart"><img src="/images/cart.png" style="width: 1.7em;"><%if(session != undefined) { %>
                                                                                                                <span class="badge badge-pill badge-dark"><%= session.totalQty %></span>
                                                                                                            <% } %></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">    
            <div class="col-lg-3 col-md-4">
                    <form>
                        <div class="input-group">
                            <div class="input-group-btn search-panel">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span id="search_concept">Sắp xếp</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" style="border: 1px solid black;">
                                <li><a href="#its_equal">It's equal</a></li>
                                <li><a href="#greather_than">Greather than ></a></li>
                                <li><a href="#less_than">Less than < </a></li>
                                <li class="divider"></li>
                                <li><a href="#all">Anything</a></li>
                                </ul>
                            </div>        
                            <input type="text" class="form-control" name="input_product" placeholder="Search term...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Tìm kiếm<span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
            </form>
            <div class="col">
                <% products.forEach(product => { %>
                    <div class="col-lg-3 col-md-4" style="display: inline-block;">
                        <div class="card">
                            <img class="card-img-top" src="<%= product.productImage %> " alt="card-img">
                            <div class="card-body">
                                <h5><strong><a href="/allproduct/<%= product._id%>"><%= product.name %></a></strong></h5>
                                <h4 style="text-align: center;"><%= product.price %> VND</h4>
                                <div class="text-center">
                                    <a href="/cart/<%= product._id %>" class="btn btn-sm btn-dark" role="button">Mua Hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %> 
            </div>
        </div>
    </div>
</body>
</html>