<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type='text/css' href="/main.css">
    <title>Update product</title>
</head>
<body>
    <div><%= product.name %> </div>
    <form class="form-inline" method="POST" action="/admin/<%= product._id %>?_method=PUT" enctype="multipart/form-data">
        <div>
            <label for="productName">Name:</label>
            <input type="text" class="form-control" name="name" value="<%= product.name %> ">
            <label for="quantity">Quantity:</label>
            <input type="number" class="form-control" name="quantity" value="<%= product.quantity %>">
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="number" class="form-control" name="price" value="<%= product.price %>"> 
            <label>Description</label>
            <textarea name="description" value="<%= product.description %>"></textarea>
        </div>
        <label>Anh San Pham</label>
        <input type="file" name="productImage" value="<%= product.productImage %>">
        <button type="submit" class="btn btn-primary">Cap nhat</button>
        <button type="submit" class="btn btn-danger">Huy</button>
    </form>
</body>
</html>